// Footer
.footer {
  padding: 40px 0;
  background-color: get-color("darkGray");
  color: get-color("white");
  text-align: center;
}

.app-name {
  margin-bottom: 16px;
  text-transform: uppercase;
}
// Footer (END)