@function get-font ($font) {
  @return map-get($fonts, $font);
}

@function get-font-size ($size) {
  @return map-get($fontSizes, $size);
}

@function to-rem ($n, $base: 16) {
  @return $n / $base * 1rem;
}

@function get-color ($color) {
  @return map-get($colors, $color);
}

@function to-string($list, $glue: "") {
  $result: "";

  @for $i from 1 through length($list) {
    $e: nth($list, $i);

    $result: if($i != length($list), $result + unquote("#{$e}#{$glue}"), $result + unquote("#{$e}"));
  }
  
  @return unquote($result);
}

@function to-fixed($float, $digits: 4) {
  $sass-precision: 5;

  @if $digits > $sass-precision {
    $digits: $sass-precision;
  }

  $pow: pow(10, $digits);

  @return floor($float * $pow) / $pow;
}

@function pow($x, $n) {
  $ret: 1;
  
  @if $n >= 0 {
    @for $i from 1 through $n {
      $ret: $ret * $x;
    } 
  } @else {
    @for $i from $n to 0 {
      $ret: $ret / $x;
    }
  }

  @return $ret;
}
